.video {
	width: 25%;
	margin: 0 2rem;
	border-radius: 0.5rem;
	opacity: 0.8;
	box-shadow: 0.3rem 0.3rem 0.5rem #111;
	transition: all 0.5s;

	@include respond(laptop) {
		width: 30%;
		margin: 2rem;
	}

	@include respond(tablet) {
		&-box {
			flex-direction: column;
		}

		width: 70%;
		margin: 3rem 0;
	}

	@include respond(phone-port) {
		width: 90%;
		margin: 2rem 0;
	}

	&:hover {
		opacity: 1;
		box-shadow: 0.5rem 0.5rem 1rem #111;
		cursor: pointer;
	}
}
