.navbar {
	width: 15vw;
	height: 100vh;
	background-color: var(--color-white);
	position: fixed;
	top: 0;
	left: -15vw;
	padding: 4rem 0 0 4rem;
	z-index: 12;
	transition: left .5s;

	&__link {
		font-size: 1.5rem;
		font-weight: 600;
		color: #777;
		letter-spacing: .3rem;
		text-transform: uppercase;
		transition: color .3s;

		&:hover {
			color: #111;
		}
	}

	&__item {
		margin: 2.5rem 0;
	}

	&.change {
		left: 0;
	}
}
