section {
	width: 98vw;
	height: 100vh;
	background-color: #efefef;
	position: relative;
	left: 0;
	margin-bottom: 3rem;
	transform-origin: left;
	box-shadow: 0.5rem 0.5rem 1rem #aaa;
	transition: left 0.5s, transform 0.5s;
	padding: 5rem 0;

	&.change {
		left: 15vw;
		transform: rotateY(10deg);
	}
}
