section {
	width: 98vw;
	height: 100vh;
	background-color: #efefef;
	position: relative;
	left: 0;
	margin-bottom: 3rem;
	transform-origin: left;
	box-shadow: 0.5rem 0.5rem 1rem #aaa;
	transition: left 0.5s, transform 0.5s;
	padding: 5rem 0;

	@include respond(tablet) {
		width: 100vw;
	}

	&.change {
		left: 15vw;
		transform: rotateY(10deg);

		@include respond(laptop) {
			left: 20vw;
			transform: rotateY(15deg);
		}

		@include respond(tablet) {
			left: 25vw;
			transform: rotateY(20deg);
		}

		@include respond(phone-land) {
			left: 30vw;
			transform: rotateY(25deg);
		}

		@include respond(phone-port) {
			left: 0;
			transform: rotateY(0);
		}
	}
}
